body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h4 {
    color: #FFC107;
}

h2 {
    color: #FFC107;
}

h3 {
    font-size: 25px;
}

.card-body {
    align-items: center;
}

.card {
    background-color: #D4D4D4;
}